# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Databases
*.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Output files
*.csv
!**/sample_data/*.csv
*.json
!**/sample_data/*.json
